<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create User</title>
</head>
<body>
<h1>Create User</h1>

<form method="post" th:action="@{/admin/save-user}">
  <label>Username:</label><br>
  <input type="text" name="username" required><br>
  <label>Password:</label><br>
  <input type="password" name="password" required><br>
  <label>Role:</label><br>
  <input type="text" name="role" required><br>
  <label>Restaurant Name:</label><br>
  <input type="text" name="restaurant.name" required><br>
  <label>Restaurant Description:</label><br>
  <input type="text" name="restaurant.description" required><br>
  <label>Restaurant Address:</label><br>
  <input type="text" name="restaurant.address" required><br>
  <label>Is the Restaurant Open:</label><br>
  <input type="checkbox" name="restaurant.isOpen"><br>
  <input type="submit" value="Create User">
</form>
</body>
</html>

