<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Users</title>
</head>
<body>
<h1>Users</h1>

<table>
  <thead>
  <tr>
    <th>Username</th>
    <th>Role</th>
    <th>Restaurant Name</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="user : ${users}">
    <td th:text="${user.username}"></td>
    <td th:text="${user.role}"></td>
    <td th:text="${user.restaurant.name}"></td>
    <td>
      <a th:href="@{/admin/user/{id}(id=${user.id})}">View</a>
      <a th:href="@{/admin/edit-user/{id}(id=${user.id})}">Edit</a>
    </td>
  </tr>
  </tbody>
</table>

<a th:href="@{/admin/new-user}">Create New User</a>
</body>
</html>
