<!DOCTYPE html>
<html>
<head>
    <title>User Profile</title>
</head>
<body>
<h1>Restaurant Details</h1>
<h2>Name: <span th:text="${restaurant.name}"></span></h2>
<h2>Address: <span th:text="${restaurant.address}"></span></h2>
<h2>Description: <span th:text="${restaurant.description}"></span></h2>
<h2>Status: <span th:text="${restaurant.isOpen} ? 'Open' : 'Closed'"></span></h2>

<form method="post" th:action="@{/user/change-status/{id}(id=${restaurant.id})}">
    <div>
        <select name="isOpen" id="isOpen" th:selected="${restaurant.isOpen}">
            <option value="true">Open</option>
            <option value="false">Closed</option>
        </select>
        <label for="isOpen">Is Open?</label>
    </div>
    <button type="submit">Save Changes</button>
</form>

<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Logout" />
</form>
    
</body>
</html>


